.header {

   background-color: #000407;
   color:#32B9CD;

}

.container{
    width: 80%;
    margin: 0% 10% 0% 10%;
}


.container {

    display: flex;
    justify-content: space-between;
}

.header .navbar {

    Width:400px;
    display: flex;
    list-style: none;
    justify-content: space-between ;
}
